* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  margin-left: 50px;
  min-width: 320px;
}

ul {
  list-style-type: none;
}

/* navigation bar styling */

.sidenav {
  background: rgba(36, 67, 95) linear-gradient(0deg,rgb(14, 43, 71),rgb(29, 88, 146));
  display: inline-block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
}

.sidenav-container {
  border-right: 2px solid rgb(162, 184, 204);
  height: 100%;
  width: 50px;
  outline: 1px solid black;
}

.sidenav a {
  font-family: "Segoe UI", sans-serif;
  background: rgba(36, 67, 95, 0.8) linear-gradient(0deg,rgba(20,61,102,.7),rgba(20,61,102,0) 75%);
  border: 2px solid rgb(162, 184, 204);
  color: #cce6ff;
  cursor: pointer;
  display: block;
  font-size: 24px;
  left: -160px;
  letter-spacing: .12em;
  padding: 8px 8px 8px 8px;
  position: absolute;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
  width: 210px;
  z-index: 1;
}

/* navigation button settings */

.nav-item, .nav-icon {
  display: inline-block;
}

.nav-item {
  margin-right: 4px;
}

.nav-icon {
  border-left: 2px solid rgb(162, 184, 204);
  text-align:center;
  width: 37px;
  display: inline-block;
  height: 37px;
  padding-left: 8px;
}

#mySidenav a:active {
  background-color: #22476b;
}

#home_button {
  top: 0px;
}

#about_button {
  top: 55px;
}

#projects_button {
  top: 110px;
}

#skills_button {
  top: 166px;
}

#contact_button {
  top: 222px;
}

@media (hover: hover) {
  #mySidenav a:hover {
    left: -2px;
    background-color: black;
  }
}

section {
  margin: 5vh auto;
  padding: 0 5vw;
  width: 100%;
}

/* hero screen styling */

#home {
  background: url('images/sky.jpg') no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #22476b;
  margin: 0;
  min-height: 100vh;
}

#home p {
  text-shadow: 2px 2px black;
}

#home .container {
  display: inline-block;
  margin-left: 10vw;
  padding-top: 45vh;
  text-align: center;
}

h1, h2 {
  color: white;
  text-shadow: 2px 2px black;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 8vh;
}

h2 {
  font-size: 4.5vh;
}

@media only screen and (max-width: 600px) {
  #home .container {
    margin-left: 5vw;
    padding-top: 30vh;
  }
  
  h1 {
    font-size: 5vh;
  }

  h2 {
    font-size: 3.5vh;
  }
}

/* section header font styles */

h3 {
  font-size: 8vh;
  padding-top: 50px;
  margin-bottom: 35px;
  text-align: center;
}

h4 {
  font-size: 3.5vh;
  margin-bottom: 15px;
  text-align: center;
}

/* about section styling */

#about {
  padding: 0 10vw;
}

#about img {
  clear: both;
  float: left;
  height: auto;
  margin-right: 15px;
  width: 15vw;
}

#about p {
  margin-bottom: 15px;
  font-size: 20px;
}

details {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  text-align: center;
}

details > a, p {
  font-weight: normal;
}

/* projects styling */

.project {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.details, .screenshot{
  flex: 1 0 40%;
  margin: 2%;
  max-width: 40%;
  min-width: 250px;

}

#projects img {
  max-width: 100%;
}

#projects p {
  margin: 15px;
}

#projects ul {
  margin-left: 30px;
}

/* skills styling */

#skills {
  background: grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

#skills h3, #contact h3 {
  flex-basis: 100%;
  padding-top: 50px;
  width: 100%;
}

#skills ul {
  flex: 1 0 18%;
  margin: 2%;
  max-width: 28%;
  min-width: 250px;
  text-align: center;
}

#skills .col-header {
  font-size: 4vh;
  font-weight: bold;
}

/* contact styling */

#contact {
  background: rgba(36, 67, 95, 0.8) linear-gradient(0deg,rgba(20,61,102,.7),rgba(20,61,102,0) 75%);
  border: 2px solid rgb(162, 184, 204);
  color: #cce6ff;
  display: flex;
  margin: 0;
}

#contact p {
  font-family: "Segoe UI", sans-serif;
  font-size: 24px;
  line-height: 60px;
}

#contact a {
    height: 50px;
    margin: 10px 20px;
}

#contact i {
  font-size: 50px;
  text-align: center;
}

svg {
  margin: 4%;
}
